spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/restboard?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
  mvc:
    hiddenmethod:
      filter:
        enabled: true
