<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css/}">
    <script>
        $(function(){
            let boardlist = new Vue({
                el: "#blist",
                data : {
                    boardlist:{}
                }
            })
            $.ajax({
                type : "get",
                url: '/api/list',
                success: function (response) {
                    console.dir(response);
                    boardlist.boardlist = response;
                }
            })
        })
    </script>
</head>

<body>
    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>

    <a th:href="@{/post}">글쓰기</a>

    <table>
        <thead>
            <tr>
                <th class="one wide">번호</th>
                <th class="ten wide">글제목</th>
                <th class="two wide">작성자</th>
                <th class="three wide">작성일</th>
            </tr>
        </thead>

        <tbody id="blist">
            <!-- CONTENTS !-->
            <tr v-for="index in boardlist">
                <td>
                    <span>{{ index.id }}</span>
                </td>
                <td>
                    <a v-bind:href='`/post/${index.id}`'>
                        <span>{{ index.title }}</span>
                    </a>
                </td>
                <td>
                    <span>{{ index.writer }}</span>
                </td>
                <td>
                    <span>{{ index.createdDate }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- 검색 form -->
    <form action="/board/search" method="GET">
        <div>
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
        </div>

        <button>검색하기</button>
    </form>

    <!-- <div>
        <span th:each="pageNum : ${pageList}" th:inline="text">
            <a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
        </span>
    </div> -->

    <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
</body>

</html>