<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        $(function () {
            let id = $(location).attr('href').split('/')[5] // $(location).attr('href') => 현재 URL주소. .split('/')[4] => /으로 주소를 나눴을 때 5번째 문자열 
            // console.log(id)
            $.get('/api/post/' + id, // GetMapping 주소
                function (response) {             // => 함수의 인자를 그냥 response로 지정 
                    //console.dir(response);      //  => 매개변수로 전달된 객체의 속성을 출력
                    $("#title").val(response.title)
                    $("#content").val(response.content)        // => response의 객체들을 출력함
                    $("#writer").val(response.writer)
                })

            $('#btn-edit').click(function () {
                let data = {
                    title: $("#title").val(),
                    writer: $("#writer").val(),
                    content: $("#content").val()
                };
                // console.dir(data)
                $.ajax({
                    type: 'PUT',
                    url: '/api/post/edit/' + id,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        alert("수정완료");
                        location.href = "/";
                    }
                });
            });
        });

    </script>
</head>

<body>
    <div>
        제목 : <input type="text" id="title">
        <br>
        작성자 : <input type="text" id="writer">

        <br>

        <textarea name="content" id="content"></textarea><br>

        <input type="button" value="수정" id="btn-edit">
    </div>
</body>

</html>